@charset "UTF-8" ;

/* 共通部分 --------------------------------------*/
html {
    font-size: 16px;
}
body {
    font-family: Helvetica, "Hiragino Kaku Gothic", 游ゴシック体, "Yu Gothic", Meiryo, sans-serif ;
    line-height: 1.4;
    color: #2e2e2e;
    background-color: #f4f4ed;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.MB {
    display: none;
}


/* レイアウト */
.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}

/* 見出し */
.font-english {
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    color: #000;
}
.heading-large {
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 5rem;
}
.title-large {
    font-size: 3rem;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 3.5rem;
}
.title-work ,.subtitle-work {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: left;
}


/* ボタン */
.btn {
    display: inline-block;
    line-height: 1.1;
    background-color: #d3c1af;
    color: #fff;
    border-radius: 60px;
    padding: 1.4rem 3.2rem;
    margin: 4rem auto 0;
}
.btn:hover ,.Form-btn:hover {
    background-color: #ccbba9;
}



/* ヘッダー ----------------------------------------*/
.cover-header {
    background-size: cover;
    background-color: #d3c1af;
    position: sticky;
    z-index: 50;
    height: 110px;
    padding-top: 1rem;
    width: 100%;
    top: 0;
    left: 0;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 170px;
    margin-top: 1rem;
    margin-left: 1.5rem;

}
.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
#main-nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
#main-nav ul a {
    color: #000;
    line-height: 1;
}
#main-nav ul a:hover {
    color: #2b2b2b;
}
.SNS-logo {
    width: 40px;
}


#drawer_toggle {
    top: 0;
    right: 0;
	display: inline-block;
    width: 60px;
    height: 60px;
}
#drawer_toggle span {
    position: absolute;
    top: 19px;
    left: 17px;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    vertical-align: top;
}
#drawer_toggle span:nth-child(2) {
    margin-top: 10px;
}
#drawer_toggle span:last-child {
    margin-top: 20px;
}




/* HOMEタイトル ----------------------------------------*/
.cover-home {
    background-color: #b2cdba;
    position: relative;
    height: 700px;
}
.bg1 {
    position: absolute;
    top: 0;
    left: 0;
}
.bg2 {
    position: absolute;
    bottom: 0;
    right: 0;

}
.site-title {
    font-size: 4rem;
    letter-spacing: 0.14em;
    line-height: 1.1;
    text-align: center;
    padding: 255px 0 0 0;
    margin: 0;   
}
.sub-title {
    font-family: "Advent Pro", sans-serif;
    font-weight: medium;
    font-size: 2rem;
    letter-spacing: 0.37em;
    margin-top: 1.2rem;
    text-align: center;
}

/* About */
.about {
    max-width: 1000px;
    margin: 200px auto 0;
}
.about p {
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1rem;
}

/* Works */
.WORKS {
    margin: 200px auto 200px;
}
.work-type p {
    font-size: 1.5rem;
    text-align: center;
    color: #d3c1af;
    border-bottom: .25rem solid #d3c1af;
    width: 200px;
    margin: 5rem auto 2rem auto;
}
.grid {
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}
.grid :hover {
    opacity: 0.8;
    transition: 0.3s;
}
.item p .item-banner p{
    font-size: .9rem;
}

/* ABOUT・WORKS・CONTACTページ ---------------------------------------*/
.ABOUT ,.MESSAGE ,.Work ,.CONTACT {
    margin: 8rem 1rem;
}
.profile {
    display: flex;
    justify-content: space-between;
}

.profile-text {
    width: 65%;
}
.profile-text th, td {
    padding-bottom: 1rem;
}
.profile-text th {
    width: 5rem;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.profile-text td {
    vertical-align: top;
    padding-left: 2rem;
}
.profile-image {
    width: 30%;
}
.fobby-image {
    display: grid;
    gap: 0 .2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 6rem auto 0;
}
.fobby-image img {
    aspect-ratio: 1.5/1;
    object-fit: cover;
}
.message-text p {
    max-width: 1000px;
    line-height: 1.4;
    margin-bottom: 1rem;    
}

/* Work */
.Workpage-title {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.work p {
    max-width: 1000px;
    line-height: 1.4;
    margin: 2.75rem 0 3rem;    
}
.work-img {
    display: flex;
    gap: 0 2rem;
}
.WORK-PC {
    width: 78%;
}
.WORK-MB {
    width: 22%;
}
.WORK-PC img ,.WORK-MB img {
    width: 100%;
    object-fit: contain;
}
.work-BN img {
    display: block;
    margin: 0 auto;
    width: 600px;
    object-fit: contain;
}

/* Contact */
form {
    max-width: 1200px;
    margin: auto;
    padding-left: 1rem;
    padding-top: 80px;
}
.Form-Item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Form-Item-Label {
    width: 100%;
    max-width: 200px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}
.Form-Item-Label {
    margin-top: 8px;
    margin-bottom: auto;
    margin-left: 40px;
}
.Form-Item-Label-Required {
    border-radius: 6px;
    margin-left: 8px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 40px;
    display: inline-block;
    text-align: center;
    background: #b2cdba;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: .25rem;
    margin-left: 40px;
    padding: .5rem 1rem;
    width: 100%;
    height: 40px;
    max-width: 500px;
    background: #eaedf2;
}
.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: .25rem;
    margin-left: 40px;
    padding: .5rem 1rem;
    height: 300px;
    width: 100%;
    max-width: 500px;
    background: #eaedf2;
}
.Form-btn {
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 40px;
    width: 180px;
    height: 60px;
    display: block;
    background: #d3c1af;
    color: #fff;
}



/* フッター ---------------------------------------*/
.cover-footer {
    background-size: cover;
    background-color: #b2cdba;
    height: 80px;
    padding-top: 1.5rem;
}
/* 削除予定　--
.footer-nav {
    display: flex;
    align-items: center;
}
.sub-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.sub-nav a {
    color: #000;
    line-height: 1;
}
.sub-nav a:hover {
    color: #2b2b2b;
}

.copyright-logo {
    display: flex;
    align-items: center;
    gap: 100px;
}
--*/
.page-footer {
    display: flex;
    align-items: center;
}
.copyright {
    margin: 0 auto;
}
.footerSNS-logo {
    width: 40px;
    margin-right: 50px;

}

/* モバイル版 ------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    /* 共通部分 ----------------------------*/
    html {
        font-size: 14px;
    }
    body {
        overflow-x: hidden; /*画面を横スクロールできないようにする*/
    }

    .PC{
        display: none;
    }
    .MB {
        display: block;
    }
    /* レイアウト */
    .mbheader-wrapper {
        width: 95%;
        margin: auto;
    }
    
    .wrapper {
        max-width: 450px;
        margin: auto;
        padding: 0 1.5rem;
    }
    /* 見出し */
    .heading-large {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 4rem;
    }
    .title-large {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 4rem;
        text-align: center;
    }
    .title-work ,.subtitle-work {
        max-width: 450px;
        margin: auto;
        padding: 0 1.5rem;
        line-height: 1.1;
        text-align: left;
    }
    .title-work {
        font-size: 2rem;
    }
    .subtitle-work {
        font-size: 1.5rem;
    }    

    
    /* ボタン */
    .btn {
        line-height: 1;
        border-radius: 60px;
        padding: 1rem 2.2rem;
        margin: 2rem auto 0;
    }

    /* ヘッダー ----------------------------*/
    .cover-header {
        height: 70px;
        align-items: center;
        padding-top: 10px;
    }
    .header-logo {
        width: 110px;
        
    }

    /*ハンバーガーメニュー */
    #main-nav {
        z-index: 100;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: #f3f3ed;
        opacity: 0.9;
    }

    #main-nav ul{
        position: absolute;
        top: 100px;
        right: 50%;
        left: 50%;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(-50%, 0%);
    }
    /*ハンバーガー　ボタン*/
    #drawer-toggle {
        z-index: 200;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 60px;
        height: 60px;
    }
    #drawer-toggle span {
        position: absolute;
        top: 25px;
        right: 1.5rem;
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background-color: #2e2e2e;
        vertical-align: top;
    }
    #drawer-toggle span:nth-child(2) {
        margin-top: 10px;
    }
    #drawer-toggle span:last-child {
        margin-top: 20px;
    }

    #drawer-toggle.open span {
        top: 30px;
        right: 1.5rem;
        width: 30px;
        margin: 0;
    }
    #drawer-toggle.open span:first-child {
        transform: rotate(45deg);
    }
    #drawer-toggle.open span:nth-child(2) {
        display: none;
    }
    #drawer-toggle.open span:last-child {
        transform: rotate(-45deg);
    }
    
    
    


    
    /* タイトル ---------------------------------------*/
    .site-title {
        font-size: 2.85rem;
        letter-spacing: 0.1em;
        line-height: 1;
        text-align: center;
        padding: 200px auto 0 ;
        margin: 0;   
    }
    .sub-title {
        font-size: 1.6rem;
        letter-spacing: 0.35em;
        margin-top: 1.4rem;
    }
    
    /* ABOUT ---------------------------------------*/
    .about {
        max-width: 370px;
        margin: 180px auto 0;
    }
    .about p {
        line-height: 1.2;
        text-align: left;
        margin: 0 .875rem;
        margin-bottom: 1rem;
    }

    /* WORKS ---------------------------------------*/
    .WORKS {
        max-width: 350px;
        margin: 160px auto 150px;
    }
    .work-type p {
        border-bottom: .4rem solid #d3c1af;
        width: 200px;
        margin: 5rem auto 1.5rem auto;
    }
    .grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .item img {
        margin-bottom: .2rem;
    }
    .item p {
        font-size: .75rem;
    }

    /* ABOUT・Workページ ---------------------------------------*/

    .ABOUT ,.MESSAGE {
        max-width: 370px;
        margin: 6rem auto;
    }
    .profile {
        flex-direction: column-reverse;
    }
    .profile-text {
        width: 100%;
    }
    .profile-text th ,tr {
        font-size: 1rem;
    }
    .profile-text th {
        width: 4rem;
    }
    .profile-text td {
        padding-left: .5rem;
    }

    .profile-image {
        width: 90%;
        margin: 0 auto 2rem;
    }
    .fobby-image {
        gap: 0 .25rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem auto 1rem;
    }
    .message-text p {
        padding: 0 .5rem;
        margin-bottom: 1rem;    
    }

    /* Work */
    .Workpage-title {
        display: contents;
    }
    .work p {

        line-height: 1.4;
        margin: 2.5rem 0 2.75rem;    
    }
    .work-img {
        display: contents;
    }
    .WORK-PC {
        display: none;
    }
    .WORK-MB {
        width: 300px;
        margin: 0 auto;
    }
    .WORK-MB img {
        width: 100%;
        object-fit: contain;
    }

    

    /* Contact */
    form {
        max-width: 450px;
        margin: auto;
        padding-left: 1rem;
        padding-top: 60px;
    }
    .Form-Item-Label, .Form-Item-Input, .Form-Item-Textarea{
        margin-left: 0;
    }
    .Form-Item-Input {
        height: 35px;
    }
    .Form-btn {
        width: 140px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
    }







    /* フッター ---------------------------------------*/
    .page-footer {
        align-items: center;
    }
    .sub-nav {
        display: none;
    }
    .footerSNS-logo {
        width: 30px;
        margin-right: 0;
    }   
}